/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
  }
  
  .theme {
    margin: 0;
    color: #ff0000;
    font-weight: bold;
  }
  
  /* Product Section */
  .products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
    padding: 1rem;
  }
  
  .product {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    background-color: #f9f9f9;
  }
  
  .product img {
    width: 100%;
    height: 40%;
  }
  
  .product-info {
    padding: 1rem;
  }
  
  .price {
    color: #ff0000;
    font-weight: bold;
  }
  
  button {
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0.5rem;
  }
  
  .contactButton {
    background-color: #28a745;
    color: #fff;
  }
  
  .paymentButton {
    background-color: #007bff;
    color: #fff;
  }
  
  .contactButton:hover, .paymentButton:hover {
    opacity: 0.8;
  }
  
  /* Footer Styles */
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    flex-wrap: wrap;
  }
  
  footer p {
    margin: 0;
  }
  
  footer a {
    color: #fff;
    text-decoration: none;
    background-color: #25d366;
    padding: 0.5em 1em;
    border-radius: 5px;
  }
  
  footer a:hover {
    background-color: #128c7e;
  }

  .payment-buttons {
    text-align: center;
    margin: 20px;
}

.whatsapp-link {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.whatsapp-link:hover {
    color: #e8491d;
}

.payment-buttons button {
    background: #e8491d;
    color: #fff;
    padding: 15px;
    margin: 5px;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.payment-buttons button:hover {
    background: #333;
}






/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    transition: background-color 0.3s ease;
} */

header {
    background: #35424a;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    border-bottom: #e8491d 3px solid;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header .theme {
    font-size: 1.2em;
    margin-top: 10px;
}


.product.selected {
    border-color: #e8491d;
    transform: scale(1.05);
}



.contactInfo.hidden {
    display: none;
}

.payment-buttons {
    text-align: center;
    margin: 20px;
}

.payment-buttons button {
    background: #e8491d;
    color: #fff;
    padding: 15px;
    margin: 5px;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.payment-buttons button:hover {
    background: #333;
}

@media (max-width: 600px) {
    .contactInfo {
        max-height: 140px; 
    }
}